h1, h2, h3, h4, h5 {
    color:white
}
h5 {
    font-size:16px
}
#collapseLegend {
    font-size:12px;
    line-height:18px
}
label {
    font-weight:bold;
    color:white;
}
#collapseMenu {
    font-size:1.1rem
}

.form-control, .input-group-text {
    padding: 0.275rem 0.4rem !important;
    font-size:0.9rem
}

.point {
    width:10px;
    height:10px;
    position: absolute;
    cursor:default;
    z-index:20;
    border-width: .05rem 
}
.point:hover {
    z-index:25 !important
}

.dot {
    background-color:green;
    border-radius:50%;
    border:1px solid transparent;
    
}
.square {
    background-color:green;
    border-radius:0 !important;
    border:1px solid transparent;
    display: inline-block;
    margin-right:2px;
}
.attr_0 {
    background-color: gray !important ;
    border-color:#5f5f5f !important;
}
.attr_1 {
    background-color: green !important ;
    border-color:darkgreen !important;
}
.attr_1:hover {
    opacity:1;
    background-color: dimgray;
    border-color:#3F3F3F;
}
.attr_2 {
    background-color: DodgerBlue !important ;
    border-color:RoyalBlue !important;
}
.attr_3 {
    background-color: orange !important ;
    border-color:darkorange !important;
}
.attr_4 {
    background-color: red !important ;
    border-color:darkred !important;
}
.attr_5 {
    background-color: yellow !important ;
    border-color:gold !important;
}

#pointDefault {
    left:-10000px;
    top:-100000px;
    z-index: 20
}

ul.nav a {
    color:green
}
ul.nav a:hover {
    color:red
}

#dataContainer {
    overflow: hidden;
    box-sizing: border-box;
    z-index:20;
    position:relative;
    width: 100%;
    min-height:555.2px;
    height:100vh;
    /* height:calc(100vh - 173px); */
    background-color: #e0e0e0;
    display: flex;
    flex-flow:column;
    
    position: absolute;
    left: 0;
    z-index: 1;
    
    border-bottom: 2px solid gray;
    padding:0
    
}

#itemList {
    position: relative;
    display: none;
    cursor: move;
    width: 900px;
    height:694px;
    margin:auto;
    background:url('map.svg') left top

    /*
    position: absolute;
    left:0;
    top:0
    */
}

#itemData span {
    color:lime
}
#itemData h4 {
    /*
    color:lime;
    text-align: center;
    */
    font-size:16px;
    padding: 0.5rem 1rem;
    background-color: rgba(255,255,255,0.2);
    border-radius:3px
}

#itemData div > div {
    padding-left: 1rem
}


a {
    color:green
}

.ui-state-active, .ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-active {
    background:green !important;
    border-color: green !important
}        
#slider-range span:nth-child(2).ui-state-active, #slider-range span:nth-child(2).ui-state-focus, #slider-range span:nth-child(2).ui-state-hover, #slider-range span:nth-child(2).ui-widget-content .ui-state-active {
    background:red !important;
    border-color: darkred !important ;
    z-index:500000
}        

.navbar {
    
    background: green;
    border-bottom:3px solid darkgreen
}        
.navbar a{
    color:white
}
.navbar a:hover{
    color: silver
}

.clear {
    clear:both
}


#sideMenu, #legend, #admin, #sponsors, #itemData {
    border-radius: 5px;
    position: relative;
    z-index:50;
    margin:5px;
}

button.collapsed {
    margin-bottom:5px
}

#legend {
    color:white
}



#menuCenter {
    display: block;
    margin: auto;
    width:555px
}

#leftPannel {
    background: rgba(0,0,0,0.8);
    /* height:calc(100vh - 173px); */
    
    min-width:350px;
    max-width:95%;
    /* float: left; */
    z-index: 2;
    overflow: auto;
    position: relative;
    
}

#leftPannel h5 {
    background-color: rgba(255,255,255,0.2);
    border-radius:3px
}

#leftPannel .btn-group-sm>.btn, .btn-sm, .input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text,.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
     border-radius: 0;
}


#section {
    font-size:0.8rem !important;
    top:70px; left:0;
}


hr.separator {
        border-top: 1px solid rgba(255,255,255,.4);
}


.btn-primary {
    background-color:green;
    border-color: darkgreen;
}

.btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color: darkgreen;
}        

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,128,0,.5);
}

.form-control:focus {
    border-color: green;
    box-shadow: 0 0 0 0.2rem rgba(0,128,0,.25);
}        

.ui-widget-shadow {
    box-shadow:none
}

.ui-tooltip {
    padding:3px 15px;
    background-color: green !important;
    color:white;
    border-color:darkgreen !important
}

.tooltip {
    padding:3px 15px;
    background-color: green !important;
    color:white;
    border-color:darkgreen !important
}

.navbar-brand {
    font-size:14px
}

#zoomButtons  {
    position: absolute;
    right:2px;
    top:20px;
    z-index:40
}
#zoomButtons button {
    width:30px;
    height:30px;
    margin-bottom:10px;
    display: block;
}

#footer {
    text-align:center;
    background-color:white;
    display:block;
    overflow: auto;
    position: relative;
    z-index:3
}





@media (max-width: 767px) {
    
    #sideMenu,#legend,#admin,#itemData {
        padding:0 15px !important;
        margin: 4px !important
    }
    #sideMenu h5,#legend h5,#admin h5,#itemData h5 {
        margin:0 !important;
        padding:2px
    }
    #sideMenu button.px-2,#legend button.px-2,#admin button.px-2,#itemData button.px-2 {
        margin:0 0 1px 0 !important;
        /* padding:0 !important */
    }
    
    #dataContainer {
        min-height:277.6px;
        height:calc(100vh - 223px);
    }
    
    #itemList {
        width: 540px;
        height:416.4px;
    }
    
    #sideMenu, #legend, #admin, #sponsors, #itemData {
        padding: 6px !important;
    }
    
    #zoomButtons {
        top:100px
    }   
}





label, #legend {
    color:gray;
    font-weight:normal
}

#leftPannel {
    background: #f3f3f3;
    font-family: 'Century Gothic';
    border-right:2px solid gray;
    overflow: unset;
    min-width: auto;
    margin-right:35px;
    position: relative;
}
#leftPannel h5, #leftPannel h4 {
    background-color: rgba(0,0,0,0.3);
    font-size:15px;
    font-weight:bold;
    position: relative;
    padding-right: 40px !important;
}

#leftPannel h5 button {
    position: absolute;
    right:8px;
    top:6px;
    /*line-height: 18px; */
}

#populationMin, #populationMax, .population, #transparencyMin, #transparencyMax, .transparency {
    color:green;
    font-size:14px
}
#populationMin, #populationMax,#transparencyMin, #transparencyMax {
    font-weight:bold
}

#sideMenu, #legend, #sponsors, #admin, #itemData {
    border: 1px solid silver;
    padding: 5px;
    background-color: white;
}

#itemData div > div label {
    margin-bottom:3px;
    font-weight:400
}

#itemData div > div span {
    color:green;
    font-weight: bold;
    float:right;
    margin-right:10px
}

hr.separator {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(255,255,255,.2);
}

#dataContainer {
    background-color:#a5a5a5;
        height:calc(100vh - 71px);

}

#sideMenu {
    margin-top:20px
}

#section {
    height:100vh; 
    overflow-x:auto;
    height:calc(100vh - 71px);
}

#collapseMenu input, #collapseMenu .input-group-text {
    font-size:12px
}

#sidePannelToggler{
    border-radius:0;
    border:2px solid darkgreen;
    border-left:0px solid transparent;
    padding-left:10px;
    padding-right:10px;
    font-size:20px;
    font-weight:bold;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    /*
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    float: right;
    margin-right:-31px;
    margin-top:30px;
    position:relative;
    */
    position: absolute;
    right:-31px;
    top:20px;
    z-index:50000;
    /* background-color: #f3f3f3; */
}

#footer {
    position: relative;
    z-index: 3;
    bottom: 0;
    width: 100%;
    margin-top:200px
}

#itemData h4 {
    background-color: green;
    margin: auto -4px;
    margin-bottom:10px
}


.qtip {
    padding:3px 6px;
}

.qtip-green {
    background-color: green;
    border: 1px solid darkgreen;
    color:white;
    font-size:14px
}



 
.ui-autocomplete {
    font-size:12px;
    max-height: 200px;
    overflow:hidden;
    overflow-y:auto
}

.input-group-text, .form-control  {
    font-size:0.8rem
}

.point.noWeb {background-color: gray !important; border-color: #5f5f5f !important}



.point.selected {
    background-color: red !important;
    border-color: red !important;
}





#abbrevations h3 {
    color: green !important   
}



#score h6 {
    color:green;
    background: none;
    font-size:13px;
    font-weight:bold    
}


#legend .point {
    position: static;
    display: inline-block;
} 